* {
    margin: 0%;
    padding: 0%;
    border: 0;
    box-sizing: border-box;
    color: white;
    text-align: center;
}

h5 {
    font-family: 'Rubik', sans-serif;
}

.carousel-item {
    width: 50rem;
    background-size: cover;
    background-repeat: no-repeat;
}

.icono {
    width: 30px;
}

nav div img {
    width: 24px;
}

.hdivider {
    border-top: 2px solid;
}

.card-text,
.card-title {
    font-size: 14px;
    text-align: left;
}

.bgdark {
    background-color: black;
}

.imgsz img {
    height: 150px;
}

footer {
    margin: 0;
}